<!DOCTYPE html>
<html lang="ko">        <!--ko로 해주면 브라우저가 한글문서로 인식해서 번역하라는 기능을 제시해주지 않음, en이면 번역 기능을 제시해줌.-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/js/home/login.js"></script>
    <title>Document</title>
</head>
<body>
    <input type="text" placeholder="아이디"><br>
    <input type="text" placeholder="비밀번호"><br>
    <button>로그인</button>
</body>
</html>  